@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div class="text-center">
    <h1 class="text-danger text-center">Error.</h1>
    <h4 class="text-danger text-center">Nažalost desila se pogreška tokom izvršavanja zahtjeva. </h4>
    @if (Model != null)
    {
        <p>[@Model.Exception.Message]</p> <br /> <br />
    }
    <a href="~/Upisi/Index" class="btn-lg btn btn-default" >Povratak na Početnu</a>
</div>


