@model IEnumerable<SeminarMVC.Models.Seminar>

@{
    ViewBag.Title = "Upis";
}

<h4 class="text-center">Seminari sa slobodnim mjestima.</h4>
<hr />

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td class="text-center">
                Akcija
            </td>
            <td>Naziv</td>
            <td>Opis</td>
            <td class="text-center">Datum</td>
            <td class="text-center">Broj slobodnih mjesta</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var seminar in Model)
        {
            <tr>
                <td class="text-center">
                    <a href="~/Upisi/Korisnika/@seminar.IdSeminar?name=@seminar.Naziv" class="btn btn-success">
                        Upisi
                    </a>
                </td>
                <td>
                    @seminar.Naziv
                </td>
                <td>
                    @seminar.Opis
                </td>
                <td class="text-center">
                    @seminar.Datum.ToShortDateString()
                </td>
                <td class="text-center">
                    @seminar.Broj() / 5
                </td>
            </tr>
        }
    </tbody>
</table>

